[Unit]
Description=My Webapp Java REST Service

[Service]
User=root

#path to executable.
#executable is a bash script which calls jar file
ExecStart=/root/cljbin/runner
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
